.explore {
    display: grid;
    grid-template-rows: auto 1fr;
    
    padding: 1rem;

    overflow-y: auto;
}

.square-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 1rem;

    width: 100%;
}

.explore-user-meta {
    display: grid;

    p {
        font-size: 0.875rem;
        margin: 0;
    }

    h1 {
        font-size: 1.5rem;
    }
}