.station-details {
    display: grid;
    grid-template-rows: auto 1fr;

    overflow-y: auto;

    font-size: 0.875rem;
}


.station-details__header {
    padding: 0 1.5rem;
    padding-block-start: 2rem;
    padding-block-end: 1.5rem;
    background: var(--gradient1);
}

.station-details__song-list {
    padding: 1rem;
}