.tag-details {
    min-height: 0;
    overflow-y: auto;
}


.tag-details__header {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;

    min-height: 18.75rem;
    background-color: var(--tag-color);

    h1 {
        margin: 0;
        font-size: clamp(3rem, 8vw, 6rem);
        line-height: 1;
        font-weight: 900;
        letter-spacing: -0.04em;
    }

}

.tag-details__lists {
    padding-block-start: 2rem;
    background:
        linear-gradient(to bottom,
            color-mix(in srgb, var(--tag-color) 35%, transparent),
            transparent 250px);
}

.tag-details__station-list,
.tag-details__song-list {
    padding-block-start: 2rem;

    h2 {
        padding-block-end: 1rem;

        font-size: var(--font-2xl);
        font-weight: 700;
    }
}