.app-header {

  nav {
    width: 100%;

    display: grid;
    /* grid-template-columns: 10% 1fr 10%; */
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  background-color: var(--background-press);
  padding: 0.5rem 2rem;
  padding-inline-end: 0.5rem;

  .user-info__pic {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .app-header__logo {
    height: 2rem;
  }

}

.search-bar-container {
  display: grid;
  grid-template-columns: 3rem 1fr;

  min-width: fit-content;
  gap: 0.5rem;
}

.search-browse-container {

  align-self: center;
  justify-self: end;
  padding: 0 0 0 0.5rem;
  border-left: 1px solid var(--text-subdued);
}

.search-bar {
  position: relative;

  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  height: 3rem;
  width: 30rem;
  min-width: 20rem;

  font-size: var(--font-sm);
  color: var(--text-base);

  ::placeholder {
    color: var(--text-base);
  }

  padding: 0 0.5rem;
  border-radius: 5rem;
  background-color: var(--background-elevated-base);
  border: 2px solid transparent;

  transition: box-shadow 0.22s ease-in,
  background-color 0.22s ease-in,
  color 0.22s ease-in,
  border-color 0.22s ease-in;

  text-overflow: ellipsis;

  &:hover {
    box-shadow: var(--background-tinted-press);
    background-color: var(--background-elevated-highlight);

    .search-bar__btn .icon {
      color: var(--text-base);
    }
  }

  &:focus-within {
    border-color: var(--essential-base);
  }
}


.search-bar-container__input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;

  .search-input {
    height: 100%;
    width: 100%;

    padding-inline: 0.5rem;

    background: none;
    border: none;
    color: var(--text-base);
    outline: none;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  .input-close-btn {
    position: absolute;
    right: 0.25rem;
    padding-inline-end: 0.5rem;
    height: 2rem;
    aspect-ratio: 1/1;
  }
}



.app-header__user-actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}



.search-bar__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover .icon {
    color: var(--text-base);
  }
}


.search-svg-icons {
  height: 24px;
  width: 24px;
  fill: var(--gray2);
}


@media (max-width: 1600px) {
  .search-bar {
    width: 25rem;
  }

}