.app-header {

  nav {
    width: 100%;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  background-color: var(--background-press);
  padding: 0.5rem 2rem;
  padding-inline-end: 0.5rem;

  .user-info__pic {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }

}

.search-bar-container {
  display: grid;
  grid-template-columns: 3rem 1fr;

  min-width: fit-content;
  gap: 0.5rem;
}

.search-browse-container {

  align-self: center;
  justify-self: end;
  padding: 0 0 0 0.5rem;
  border-left: 1px solid var(--text-subdued);
}

.search-bar {
  position: relative;

  display: grid;
  grid-template-columns: 2rem 1fr 3rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  height: 3rem;
  min-width: 25rem;

  font-size: 1rem;
  color: var(--text-base);

  padding: 0 0.5rem;
  border-radius: 5rem;
  background-color: var(--background-base);

  transition:
    box-shadow 0.22s ease-in,
    background-color 0.22s ease-in,
    color 0.22s ease-in;

  text-overflow: ellipsis;

  &:hover {
    box-shadow: inset 0 0 2px 1px var(--background-tinted-press);
    background-color: var(--background-elevated-highlight);

    .search-bar__btn .icon {
      color: var(--text-base);
    }
  }
}

.app-header__user-actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.search-input {
  height: 100%;
  width: 100%;

  background: none;
  border: none;
  overflow: hidden;
  color: var(--text-base);
}



.app-header__btn {
  display: grid;
  justify-content: center;
  align-items: center;

  width: 3rem;
  aspect-ratio: 1/1;

  background-color: var(--background-base);
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    background-color: var(--background-elevated-highlight);
  }
}

.search-bar__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover .icon {
    color: var(--text-base);
  }
}


.search-svg-icons {
  height: 24px;
  width: 24px;
  fill: var(--gray2);
}