.app-library {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 20rem;

    &:hover {
        .minimize-button {
            gap: 0.5rem;

            .icon {
                display: inline-block;
            }
        }
    }
}

.app-library--minimize {
    width: 5rem;
    min-width: auto;

    .station-list {
        padding: 0.25rem
    }
}

.library-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    height: fit-content;

    padding: 1rem 1.5rem 0.5rem 1rem;

    .btn.bg-button {
        justify-self: end;
    }

    &.library-header--minimized {
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-template-rows: auto auto;
        row-gap: 1rem;
        padding: 1rem;

        .btn.bg-button {
            padding-inline: 0;
            margin: 0.2rem;
            /* padding: 1rem; */
        }
    }
}


.library-content {
    display: flex;
    flex-direction: column;

    width: 100%;

    flex: 1;
    min-height: 0;

    overflow-y: auto;

    margin: 0;

    list-style: none;

}

.library-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 1700px) {

    .btn.bg-button {
        padding: 0;
    }

    .btn-text {
        display: none;
    }

}