.app-library {
    display: flex;
    flex-direction: column;

    min-height: 0;

    min-width: fit-content;
}

.library-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    height: 4rem;
   
    padding: 1rem 1.5rem 0.5rem;
    
    >.library-controls {
        display: flex;
    }
    
    .library-header__title {
        font-weight: 700;
        text-wrap: nowrap;
    }
}

.library-content {
    display: flex;
    flex-direction: column;

    width: 100%;

    flex: 1;
    min-height: 0;

    overflow-y: auto;

    margin: 0;

    list-style: none;

}

.library-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 1600px) {
    .btn.bg-button {
        padding: 0;
    }

    .btn-text {
        display: none;
    }
}