.app-library,
.library-page {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    min-height: 0;

    &:hover {
        .minimize-button {
            gap: 0.5rem;

            .icon {
                display: inline-block;
            }
        }
    }
}

.app-library--minimize {
    width: 5rem;
    height: 100%;
    min-height: 0;

    border-radius: var(--global-border-radius);
    overflow: hidden;
    background-color: var(--background-base);
}

.library-page {
    overflow: hidden;

    .library-header {
        position: sticky;
        top: 0;
        z-index: 10;

        background-color: var(--background-base);
    }

    .library-content {
        padding-bottom: 5rem;
    }
}

.library-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    height: fit-content;

    padding: 1rem 1.5rem 0.5rem 1rem;

    .btn.bg-button {
        justify-self: end;
    }

    &.library-header--minimized {
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-template-rows: auto auto;
        row-gap: 1rem;

        padding: 1rem;

        .btn.bg-button {
            padding-inline: 0;
            margin: .2rem;
        }

        height: 4rem;

        >.library-controls {
            display: flex;
        }

        .library-header__title {
            font-weight: 700;
            white-space: nowrap;
        }
    }
}


.library-content {
    display: flex;
    flex-direction: column;

    flex: 1;
    min-height: 0;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow-y: auto;

    list-style: none;
}

.library-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



@media (min-width: 768px) and (max-width: 1600px) {
    .btn.bg-button {
        padding: 0;
    }

    .btn-text {
        display: none;
    }

}