.player-container {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  padding: 1rem;
  height: 90px;
  width: 100%;
}

.main-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.song-info-placeholder {
  display: grid;
  grid-template-columns: 3.5rem auto auto;
  gap: 1rem;
  font-size: 0.9;


  .player-song-title {
    font-size: 0.875rem;
  }

  .player-song-artists {
    font-size: 0.8rem;

    color: var(--text-muted);
  }

  >div {
    align-self: center;

  }
}

.center-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  width: 100%;
}

.playbar-btn {
  background-color: transparent;
  border: none;
  /* width: 32px; */
  cursor: pointer;
  color: var(--text-muted);

  :hover {
    color: var(--text-main);
  }
}

.playpause-btn {
  background-color: var(--text-main);
  border: none;
  border-radius: 50%;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    transform: scale(var(--button-hover-scale));
  }
}

.playbar-svg-sizes {
  height: 16px;
  width: 16px;
}

.progress-bar {
  display: flex;
  align-items: center;

  gap: 8px;
  width: 100%;
  font-size: 11px;
  max-width: 572px;
}

input[type="range"] {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  /* Remove the default css */
}

input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  /* display: none; */
  margin-top: -5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #4d4d4d;
  border-radius: 5px;
}

.volume-container {
  justify-self: end;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  .volume-bar {
    max-width: 100px;
  }
}