.queue-preview {
    position: relative;

    display: grid;
    grid-template-columns: 3rem auto auto;
    gap: 0.5rem;

    width: 100%;

    border-radius: 5px;
    padding: 0.5rem;
    margin-inline: -0.5rem -1rem;

    &:hover {
        background-color: var(--background-elevated-base);
        cursor: pointer;

        .station-cover__hover,
        .queue-preview__btn {
            visibility: visible;
        }
    }

    text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}




.queue-preview__title {
    font-size: var(--font-base);
}

.queue-preview__creator-name,
.queue-preview__song-length {
    font-size: var(--font-sm);
    color: var(--text-subdued);
}

.queue-preview__cover-container {
    display: grid;
    position: relative;
}

.queue-preview__btn--more {
    justify-self: end;
    visibility: hidden;

}

.queue-preview__btn--play {
    position: absolute;
    visibility: hidden;

    align-self: center;
    justify-self: center;
    place-items: center;
}

.queue-preview__title,
.queue-preview__creator-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}