.search-dropdown {
  z-index: 9999;
  position: absolute;
  top: 3.2rem;

  display: grid;
  width: 100%;
  overflow: hidden;

  height: 20rem; 
  max-height: 20rem;

  border-radius: var(--global-border-radius);

  background-color: var(--background-elevated-highlight);
  color: var(--text-base);
}