.search-dropdown {
  z-index: 9999;
  position: absolute;
  top: 3.2rem;

  display: grid;
  width: 100%;
  overflow-y: scroll;

  max-height: 20rem;

  padding: 1rem;
  border-radius: 8px;

  opacity: 1;
  transition: opacity 0.22s ease-in,
  height 0.22s ease-in,
  visibility 0.22s ease-in;



  background-color: var(--background-highlight);
  color: var(--text-base);
}