:root {
    --row-height: 3.5rem;
    --grid-template-columns: [index] var(--index-column-width, 16px) [first] minmax(var(--first-min-width), var(--first-max-width, 4fr)) [var1] minmax(var(--var1-min-width), var(--var1-max-width, 2fr)) [var2] minmax(var(--var2-min-width), var(--var2-max-width, 2fr)) [last] minmax(var(--last-min-width), var(--last-max-width, 1fr));
    --first-min-width: 180px;
    --var1-min-width: 120px;
    --var2-min-width: 120px;
    --last-min-width: 120px;
}

@media (max-width: 1400px) {
    :root {
        --grid-template-columns:
            auto [first] minmax(var(--first-min-width), 1fr) [last] minmax(var(--last-min-width), var(--last-max-width, 1fr));
    }
}


.song-preview__item {
    position: relative;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: 1rem;

    width: 100%;
    height: var(--row-height);

    color: var(--text-subdued);
    align-items: center;

    padding-inline: 1rem;

    border: 1px solid #0000;
    border-radius: 4px;
    pointer-events: auto;

    &:hover {
        background: var(--background-elevated-base);

        color: var(--text-base);

        .song-preview__controls {
            opacity: 1;
            pointer-events: auto;
        }

        .song-preview__index,
        .eq-icon {
            visibility: hidden;
        }

        .song-preview__btn {
            visibility: visible;
        }
    }

    .song-preview__play {
        position: relative;
        display: grid;
        place-items: center;
    }

    .song-preview__actions {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .song-preview__index {
        visibility: visible;
        position: absolute;
    }

}

.song-preview__meta {
    display: grid;
    align-items: center;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    min-width: 0;

    >.station-cover {
        padding: 0.3rem;
    }

    .song-preview__title {
        font-size: var(--font-base);
        color: var(--text-base);
    }

    .song-preview__artists {
        font-size: var(--font-sm);
    }
}

.song-preview__meta .song-preview__meta-text {
    display: grid;
    gap: 0.2rem;
    min-width: 0;
}


.song-preview__btn {
    visibility: hidden;
}

.song-preview__duration,
.song-preview__date {
    color: var(--text-subdued);
}

.song-preview__date {
    letter-spacing: 1px;
}

@media (max-width: 1280px) {

    .song-preview__album,
    .song-preview__date {
        display: none;
    }

    .song-preview__actions {
        gap: 1rem;
        grid-column: -1 / -1;
    }
}

@media (max-width: 1400px) {

    .song-preview__date {
        display: none;
    }

    .song-preview__actions {
        gap: 1rem;
        grid-column: -1 / -1;
    }
}

.song-preview__context-menu {
    z-index: 1000;
    position: absolute;

    bottom: calc(100% + .25rem);
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;

    max-height: 320px;
    /* overflow-y: auto; */

    padding: 0.25rem;

    background: var(--background-elevated-base);
    border-radius: var(--global-border-radius);
    box-shadow: var(--encore-overlay-box-shadow);
}

.song-context-menu__button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: fit-content;
    padding: .7rem .9rem;
    width: 100%;

    text-wrap: nowrap;

    border-radius: 0.2rem;

    cursor: pointer;

    color: var(--text-base);
    font-size: var(--font-sm);

    transition: background .15s;

    >div {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

.song-context-menu__button--add-wrapper {
    position: relative;
}

.song-context-menu__station-list {
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 2000;

    display: none;
    flex-direction: column;
    justify-content: start;
    padding: 0.25rem;
    background: var(--background-elevated-base);
    border-radius: var(--global-border-radius);
    box-shadow: var(--encore-overlay-box-shadow);
}

.song-context-menu__button:hover {
    background: var(--background-tinted-highlight);
}


.song-context-menu__button--add-wrapper:hover .song-context-menu__station-list {
    display: flex;
}


.song-preview__context-menu span.disabled {
    color: var(--text-subdued);
    cursor: default;
}

.song-preview__context-menu span.disabled:hover {
    background: transparent;
}

.song-preview__submenu-title {
    padding: .5rem .9rem;
    margin-bottom: .25rem;

    color: var(--text-subdued);

    font-size: .72rem;
    font-weight: 700;
    text-transform: uppercase;

    pointer-events: none;
}

/* .song-preview__context-menu {
    position: absolute;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    right: 0;
    bottom: 2rem;

    max-width: max-content;

    inset: 0 auto auto 0;

    color: var(--text-base);
    background-color: var(--decorative-subdued);

    border-radius: 4px;
    padding: 0.5rem 0.5rem;
    z-index: 1000;

    span {
        display: flex;
        align-items: center;
        width: 100%;
        color: var(--text-base);

        font-size: var(--font-sm);
        font-weight: 500;
        border-radius: 2px;
        padding: 12px 4px; //
    }
} */