

:root {
    --placeholder-image: url(https://open.spotifycdn.com/cdn/images/tracklist-placeholder.b256dae9.webp);
    --placeholder-image-compact: url(https://open.spotifycdn.com/cdn/images/tracklist-placeholder-compact.c14407f1.webp);
    --row-height: 3.5rem;
    --grid-template-columns: [index] var(--index-column-width, 1rem) [first] minmax(var(--first-min-width), var(--first-max-width, 4fr)) [var1] minmax(var(--var1-min-width), var(--var1-max-width, 2fr)) [var2] minmax(var(--var2-min-width), var(--var2-max-width, 2fr)) [last] minmax(var(--last-min-width), var(--last-max-width, 1fr));
    --first-min-width: 10rem;
    --var1-min-width: 120px;
    --var2-min-width: 5rem;
    --last-min-width: 120px;
}

@media (max-width: 1400px) {
    :root {
        --grid-template-columns:
            auto [first] minmax(var(--first-min-width), 1fr) [last] minmax(var(--last-min-width), var(--last-max-width, 1fr));
    }
}


.song-preview__item {

    position: relative;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: 1rem;

    width: 100%;
    height: var(--row-height);

    color: var(--text-subdued);
    align-items: center;

    padding-inline: 1rem;

    border: 1px solid #0000;
    border-radius: 4px;

    &:hover {
        background: var(--background-tinted-base);

        color: var(--text-base);

        .song-preview__controls {
            opacity: 1;
            pointer-events: auto;
        }

        .song-preview__index {
            visibility: hidden;
        }

        .song-preview__btn {
            visibility: visible;
        }


    }

    .song-preview__play {
        position: relative;
        display: grid;
        place-items: center;
    }

    .song-preview__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .song-preview__index {
        right: 0.5rem;
        visibility: visible;
        position: absolute;
    }

}

.song-preview__meta {
    display: grid;
    align-items: center;
    grid-template-columns: 2.5rem 1fr;
    gap: 1rem;
    min-width: 0;

    .song-preview__title {
        font-size: var(--font-base);
        /* color: var(--text-base); */ 
    }

    .song-preview__artists {
        font-size: var(--font-sm);
    }
}

.song-preview__meta .song-preview__meta-text {
    display: grid;
    gap: 0.2rem;
    min-width: 0;
}


.song-preview__btn {
    visibility: hidden;
}

.song-preview__duration,
.song-preview__date {
    color: var(--text-subdued);
}

.song-preview__date {
    letter-spacing: 1px;
}

@media (max-width: 1280px) {

    .song-preview__album,
    .song-preview__date {
        display: none;
    }

    .song-preview__actions {
        gap: 1rem;
        grid-column: -1 / -1;
    }
}

@media (max-width: 1400px) {

    .song-preview__date {
        display: none;
    }

    .song-preview__actions {
        gap: 1rem;
        grid-column: -1 / -1;
    }
}

.song-preview__context-menu{
    position: absolute;

    min-width: 160px;
    max-width: max-content;

    inset: 0 auto auto 0;
    
    color: var(--text-main);
    background-color: var(--decorative-subdued);
    
    span{
        display: flex;
        align-items: center;
        width: 100%;
        color: var(--text-main);

        font-size: var(--font-sm);
        font-weight: 500;
        border-radius: 2px;
        /* padding: 12px 4px; */
    }
}