:root {
    --row-height: 3.5rem;
    --index-column-width: 16px;
    --first-min-width: 180px;
    --var1-min-width: 120px;
    --var2-min-width: 120px;
    --last-min-width: 120px;
}

.song-preview__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: var(--row-height);

    color: var(--text-subdued);

    padding-inline: 1rem;

    border: 1px solid #0000;
    border-radius: 4px;
    pointer-events: auto;

    &:hover {
        background: var(--background-elevated-base);
        color: var(--text-base);

        .song-preview__controls {
            opacity: 1;
            pointer-events: auto;
        }

        .song-preview__index,
        .eq-icon {
            visibility: hidden;
        }

        .song-preview__btn {
            visibility: visible;
        }
    }

    .song-preview__index-wrap {
        position: relative;
        flex: 0 0 var(--index-column-width);
        width: var(--index-column-width);
        height: 100%;
        display: grid;
        place-items: center;
    }

    .song-preview__index {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        visibility: visible;
    }

    .song-preview__play {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
    }

    .song-preview__actions {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1 1 var(--last-min-width);
        gap: 1rem;
    }
}

.song-preview__meta {
    display: grid;
    align-items: center;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    min-width: 0;

    flex: 4 1 var(--first-min-width);

    >.station-cover {
        padding: 0.3rem;
    }

    .song-preview__title {
        font-size: var(--font-base);
        color: var(--text-base);
    }

    .song-preview__artists {
        font-size: var(--font-sm);
    }
}

.song-preview__meta .song-preview__meta-text {
    display: grid;
    gap: 0.2rem;
    min-width: 0;
}

.song-preview__album {
    flex: 2 1 var(--var1-min-width);
    min-width: 0;
}

.song-preview__date {
    flex: 2 1 var(--var2-min-width);
    min-width: 0;
    letter-spacing: 1px;
}

.song-preview__btn {
    visibility: hidden;
}

.song-preview__duration,
.song-preview__date {
    color: var(--text-subdued);
}

@media (max-width: 1280px) {
    .song-preview__album,
    .song-preview__date {
        display: none;
    }
}

@media (max-width: 1400px) {
    .song-preview__date {
        display: none;
    }
}

.song-preview__context-menu {
    z-index: 1000;
    position: absolute;

    bottom: calc(100% + .25rem);
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;

    max-height: 320px;

    padding: 0.25rem;

    background: var(--background-elevated-base);
    border-radius: var(--global-border-radius);
    box-shadow: var(--encore-overlay-box-shadow);
}

.song-context-menu__button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: fit-content;
    padding: .7rem .9rem;
    width: 100%;

    text-wrap: nowrap;

    border-radius: 0.2rem;

    cursor: pointer;

    color: var(--text-base);
    font-size: var(--font-sm);

    transition: background .15s;

    >div {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

.song-context-menu__button--add-wrapper {
  position: relative;
}

.song-context-menu__station-list {
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 2000;

  display: none;
  flex-direction: column;
  justify-content: start;
  padding: 0.25rem;
  background: var(--background-elevated-base);
  border-radius: var(--global-border-radius);
  box-shadow: var(--encore-overlay-box-shadow);
}

.song-context-menu__button:hover {
  background: var(--background-tinted-highlight);
}

.song-context-menu__button--add-wrapper:hover .song-context-menu__station-list {
  display: flex;
}

.song-preview__context-menu span.disabled {
    color: var(--text-subdued);
    cursor: default;
}

.song-preview__context-menu span.disabled:hover {
    background: transparent;
}

.song-preview__submenu-title {
    padding: .5rem .9rem;
    margin-bottom: .25rem;

    color: var(--text-subdued);

    font-size: .72rem;
    font-weight: 700;
    text-transform: uppercase;

    pointer-events: none;
}