.entity-square-preview__item {
    display: grid;
    gap: 1rem;
    align-items: start;
    color: var(--text-base);
    padding: 0.75rem;
    border-radius: 0.5rem;

    max-width: 12rem;

    overflow: hidden;


    &:hover {
        background-color: var(--background-elevated-highlight);
        cursor: pointer;

        .entity-square-preview__btn {
            opacity: 1;
            pointer-events: auto;
            translate: 0 0;
        }

        .entity-square-preview__index {
            visibility: hidden;
        }
    }
}

.entity-square-preview__item--active {
    background-color: var(--background-tinted-highlight);

    .entity-square-preview__btn {
        opacity: 1;
        pointer-events: auto;
        translate: 0 0;
    }
}

.entity-square-preview__item--playing {
    .entity-square-preview__btn {
        opacity: 1;
        pointer-events: auto;
        translate: 0 0;
    }
}

.entity-square-preview__img {
    position: relative;

    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    overflow: hidden;
    container-type: inline-size;
    container-name: square-preview;
}

.entity-square-preview__meta {
    display: grid;
    align-items: center;
    gap: 1rem;

    .entity-preview__meta-text {
        display: grid;
        gap: 0.2rem;
    }

    .entity-square-preview__title {
        font-size: var(--font-base);
    }

    .entity-square-preview__artists {
        color: var(--text-subdued);
        font-size: var(--font-sm);
    }
}

.entity-square-preview__btn {
    position: absolute;
    height: 30%;
    aspect-ratio: 1/1;

    bottom: 0.5rem;
    right: 0.5rem;

    display: grid;
    place-items: center;

    opacity: 0;
    pointer-events: none;
    translate: 0 100%;
    transition: all .2s ease-out;
    box-shadow: var(--encore-overlay-drop-shadow);

    .icon {
        width: 80%;
        aspect-ratio: 1/1;
    }
}