.station-cover-img__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: clamp(4px, calc(100% * 0.05), 8px);
    overflow: hidden;
    box-shadow: 0 4px 60px #00000080;
}

.station-cover-img {
    position: relative;
    border-radius: clamp(4px, calc(100% * 0.05), 8px);
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 60px #00000080;

    height: 100%;
    width: aspect-ratio 1/1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.station-cover__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.607);
    visibility: hidden;
}

.playlist-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background-color: var(--background-elevated-highlight);

    .icon {
        width: 50%;
        height: 50%;

        min-width: var(--icon-size-sm);
        max-width: var(--icon-size-3xl);

        min-height: var(--icon-size-sm);
        max-height: var(--icon-size-3xl);
    }
}