.station-list {
    display: flex;
    flex-direction: column;

    width: 100%;

    flex: 1;
    min-height: 0;

    overflow-y: auto;

    margin: 0;
    padding: 1rem;

    list-style: none;

    >.station-list__item {
        display: flex;
        align-items: center;
    }

}

.station-list--square-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));

    width: 100%;
}

.station-list--square-view-extended {
    display: grid;
    grid-template-columns: repeat(5, minmax(8rem, 1fr));

    width: 100%;
}