.station-list {
    display: flex;
    flex-direction: column;

    gap: 0.5em;

    flex: 1;
    min-height: 0;

    overflow-y: auto;

    margin: 0;
    padding: 0;

    list-style: none;

    >.station-list-item {
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--gray4);

            cursor: pointer;

            .like-btn {
                opacity: 1;
            }
        }
    }

}

