.station-preview {
    position: relative;

    display: grid;
    grid-template-columns: 3rem auto auto;
    align-content: center;
    gap: 0.5rem;

    width: 100%;

    border-radius: 5px;
    padding: 0.5rem;
    padding-inline-end: 1rem;
    margin-inline: -0.5rem;

    &:hover {
        background-color: var(--background-highlight);
        cursor: pointer;

        .station-cover__hover,
        .station-preview__btn {
            visibility: visible;
        }
    }
}

.station-preview--active {
    background-color: var(--background-tinted-highlight);
}

.station-preview__title {
    font-size: var(--font-base);
}

.station-preview__creator-name,
.station-preview__song-length {
    font-size: var(--font-sm);
    color: var(--text-subdued);
}

.station-preview__cover-container {
    display: grid;
    position: relative;
}

.station-preview__btn {
    position: absolute;
    visibility: hidden;

    align-self: center;
    justify-self: center;
    place-items: center;
}

.station-preview__station-playing-icon {
    justify-self: self-end;
    align-self: center;
}