.station-filter {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    padding: 1rem 1.5rem 0.5rem 1rem;

}

.station-filter-search {
    position: relative;

    display: grid;
    grid-auto-flow: column;
    justify-content: center;


    button {
        z-index: 2;
    }
}

.grid-toggle-btn {
    cursor: pointer;

    opacity: 0.5;
    transition: 0.2s;

    &:hover {
        opacity: 1;
    }
}

.library-search__input {
    position: absolute;
    height: 100%;

    width: 12rem;

    font-size: var(--font-sm);
    padding-inline-start: 2.5rem;

    background-color: var(--background-elevated-base);
    border-radius: 0.2rem;
}