.main-container {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: auto 1fr;

    height: 100vh;
    overflow: hidden;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }
}

.app-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "l a i";

    min-height: 0;
    overflow: hidden;

    align-content: start;

    >.app-library {
        grid-area: l;
    }

    >.dynamic-area {
        grid-area: a;
        border-radius: 0.5rem;
        background: var(--bg-base);
    }

    >.artist-info {
        grid-area: i;
    }

    .artist-info,
    .app-library {
        padding: 1rem;
        border-radius: 0.5rem;
        background: var(--bg-base);
    }

    &.expanded {
        grid-template-areas: " l l i";

        .dynamic-area {
            display: none;
        }
    }

    &.fullscreen {
        grid-template-areas: " l l l";

        .artist-info,
        .dynamic-area {
            display: none;
        }
    }
}

.sample-grid-layout {
    display: grid;
    grid-template-columns: 12px 1fr 12px;

    @media (min-width: 624px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 624px) minmax(12px, 1fr);
    }

    @media (min-width: 784px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 784px) minmax(12px, 1fr);
    }

    @media (min-width: 1048px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 1048px) minmax(12px, 1fr);
    }


    >* {
        grid-column: 2;
    }

    >*.full {
        background-color: var(--clr1);
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        background-color: var(--clr4);
    }
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;

    >article {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 2rem;
        text-align: center;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
}