.main-container {
    display: grid;
    grid-template-columns: 0.5rem 1fr 0.5rem;
    grid-template-rows: auto 1fr auto;

    height: 100vh;
    overflow: hidden;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }
}

.app-layout {
    display: grid;
    grid-template-columns: 320px minmax(0, 1fr) 320px;
    grid-template-areas: "l a i";
    gap: 0.5rem;

    overflow: hidden;
    min-height: 0;
    height: 100%;
    width: 100%;

    .app-library {
        grid-area: l;
    }

    .dynamic-area {
        position: relative;
        grid-area: a;

        height: 100%;
        width: 100%;

        border-radius: var(--global-border-radius);
        background-color: var(--background-base);
        overflow: hidden;
    }

    .artist-info {
        position: relative;
        grid-area: i;
        min-height: 0;
    }

    .artist-info,
    .app-library {
        height: 100%;
        width: 100%;
        border-radius: var(--global-border-radius);
        background-color: var(--background-base);
        overflow: hidden;
    }

    &.expanded {
        grid-template-areas: " l l i";

        .dynamic-area {
            display: none;
        }
    }

    &.fullscreen {
        grid-template-areas: " l l l";

        .artist-info,
        .dynamic-area {
            display: none;
        }
    }
}


.dynamic-max-width {
    max-width: var(--content-max-width);
    padding-inline: 1.5rem;
    padding-block-end: 1.5rem;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 768px) {

    .main-container {
        grid-template-columns: 1fr;
    }

    .main-container>* {
        grid-column: 1;
    }

    .app-layout {
        grid-template-columns: 1fr;
        grid-template-areas:
            "a";
        gap: 0;
    }

    .app-library,
    .artist-info {
        display: none;
    }

    .dynamic-area {
        border-radius: 0;
    }
}