.app-header {
  display: flex;
  height: calc(48px + 8px * 2);
  align-items: center;
  background-color: var(--bg-color);
  padding: 0.8rem 1rem;

  margin-top: 0.5rem;
  margin-bottom: 0.3rem;

  & nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    /* .active {
      color: var(--clr1);
    } */

    .logo {
      .logo-svg {
        height: 32px;
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;

    color: var(--clr1);

    & img {
      width: 2em;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }
}

.search-bar {
  display: flex;
  position: relative;
  flex-grow: 1;

  height: 3rem;

  font-size: 1rem;
  color: var(--text-main);
  background-color: var(--bg-base);
  box-shadow: none;

  /* overflow: hidden; */
  outline: none;
  box-shadow: none;

  border-radius: 5rem;
  transition:
    box-shadow 0.22s ease-in,
    background-color 0.22s ease-in,
    color 0.22s ease-in;

  text-overflow: ellipsis;

  &:hover {
    box-shadow: inset 0 0 2px 1px var(--bg-hover-clicked);
    background-color: var(--bg-hover);

    .search-btn-container .icon {
      color: var(--text-main);
    }
  }



  .search-btn-container {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .search-browse-container {

    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    border-inline-start: 1px solid var(--gray3);
    padding-inline: 12px 4px;
  }
}

.search-input {
  position: absolute;
  height: 100%;
  width: 100%;

  padding: 1rem 3rem;
  background: none;
  border: none;
  overflow: hidden;


  color: var(--text-main);
}



.search-bar-btns {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover .icon {
    color: var(--text-main);
    transform: scale(var(--button-hover-scale));
  }
}

.home-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  width: 3rem;
  aspect-ratio: 1/1;

  background-color: var(--bg-base);
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    background-color: var(--bg-hover);
    transform: scale(var(--button-hover-scale));
  }
}

.search-bar-container {
  display: flex;
  gap: 0.5em;

  max-width: 40%;
  width: 100%;
}

.search-svg-icons {
  height: 24px;
  width: 24px;
  fill: var(--gray2);
}
