.player-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  height: 90px;
  width: 100%;
}

.main-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.song-info-placeholder {
  width: 30%;
}
.center-control {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.playbar-btn {
  background-color: transparent;
  border: none;
  /* width: 32px; */
  cursor: pointer;
  fill: var(--text-muted);
  :hover {
    fill: var(--text-main);
  }
}
.playpause-btn {
  background-color: var(--text-main);
  border: none;
  border-radius: 50%;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    transform: scale(var(--button-hover-scale));
  }
}

.playbar-svg-sizes {
  height: 16px;
  width: 16px;
}

.progress-bar {
  display: flex;
  align-items: center;

  gap: 8px;
  width: 100%;
  font-size: 11px;
}

input[type="range"] {
  width: 100%;
  background: transparent;
  -webkit-appearance: none; /* Remove the default css */
}

input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  /* display: none; */
  margin-top: -5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #4d4d4d;
  border-radius: 5px;
}

.volume-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  .volume-bar {
    max-width: 100px;
  }
}

.player-song-artists{
  font-size: 12px;
}