.station-preview {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 1rem;

    border-radius: 5px;
    padding: 5px;

    /* &:hover {
        background-color: var(--gray4);
    } */

    >img {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 4px;
    }
}