.station-header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    border-bottom: 1px solid var(--gray2);

}

.station-header__info {
    align-self: end;
    display: grid;

    gap: 0.5rem;

    .station-name {
        font-size: 2rem;
        font-weight: 800;
    }
}

.station-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    color: var(--text-muted);

    .participants {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .creator-name {
        font-weight: 600;
    }
}

.creator-img-container {
    display: flex;
    align-items: center;
}

.avatar-wrapper {
    position: relative;
    z-index: calc(10 - var(--index));
    width: 2rem;
    height: 2rem;
    margin-left: -8px;
    border-radius: 50%;
    overflow: hidden;
    outline: 4px solid black;
    outline-offset: -4px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
    backface-visibility: hidden;
    transform: translateZ(0);
}

.avatar-wrapper:first-child {
    margin-left: 0;
}

.station-img-container {
    width: 10rem;
    aspect-ratio: 1/1;
}

.station-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.station-img {
    width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.station-header p {
    margin: 0;
}

.station-header h2 {
    margin: 0;
}