.station-preview {
    display: flex;
    align-items: center;
    gap: 1em;

    border-radius: 5px;
    padding: 5px;

    &:hover {
        background-color: var(--gray4);
    }

    >img {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 4px;
    }
}