@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    ascent-override: 85%;
    descent-override: 20%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    ascent-override: 85%;
    descent-override: 20%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    ascent-override: 85%;
    descent-override: 20%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    ascent-override: 85%;
    descent-override: 20%;
    line-gap-override: 0%;
}