:root {
  --primary: #d62828;
  --bg-color: #121212;
  --surface: #1e1e1e;
  --accent: #ffb7c5;
  --text-main: #fdfdfd;
  --text-muted: #b3b3b3;

  --gray1: #ddd;
  --gray2: #aaa;
  --gray3: #777;
  --gray4: #333;

  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59);
}